<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ site.url }}/ncg/css/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.url }}/ncg/css/main.css">
    <meta name="description" value="Nyack Community Garden in Nyack, NY, USA">
    <meta name="keywords" value="garden, vegetable, community">
    <meta name="robots" content="index, follow"/>
    <!--
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-119040-18', 'nyackcommunitygarden.info');
      ga('send', 'pageview');
    </script>
    -->
  </head>
  <body class="{{ page.pageclass }}">
  	 <div class="leader">
      <div class="container">
        <ul class="contacts">
          <li><i class="fa fa-envelope"></i>&nbsp;<a href="mailto:nyackcommunitygarden@gmail.com">nyackcommunitygarden@gmail.com</a></li>
        </ul>
      </div>
    </div>
    <div class="header">
      <div class="container">
      	<h2 class="title"><a href="/" title="Home page">Nyack Community Garden</a></h2>
    	</div>
    	{% include navigation.html %}
    </div>
    <div class="content">
        <p class="home">
            <b>Applications for the 2016 are available by contacting <a href="mailto:nyackcommunitygarden@gmail.com">nyackcommunitygarden@gmail.com</a> and are due by Feb. 27, 2016</b>
        </p>
    	<div class="container">
    		{{ content }}
    	</div>
    </div>
    <div class="footer">
			{% include navigation.html %}
      {% include footer.html %}
    </div>
  </body>
</html>
